# Section 506.2.3 - Single-occupancy, multistory buildings
## Building Code
```
The allowable area of a single-occupancy building with more than one story above grade plane shall be determined in accordance with Equation 5-2: 

Aa = [At + (NS x If)] x Sa  (Equation 5-2)

where: 

Aa = Allowable area (squarefeet). 
At = Tabular allowable areafactor (NS, S13R or SM value, as applicable) in accordance with Table506.2. 
NS = Tabular allowable areafactor in accordance with Table 506.2 for a nonsprinklered building(regardless of whether the building is sprinklered). 
If = Area factor increasedue to frontage (percent) as calculated in accordance with Section506.3. 
Sa = Actual number ofbuilding stories above grade plane, not to exceed three. For buildingsequipped throughout with an automatic sprinkler system installed inaccordance with Section 903.3.1.2, use the actual number of buildingstories above grade plane, not to exceed four. 

No individual story shall exceed the allowable area (Aa) as determined by Equation 5-2 using the value of Sa = 1. 
```

In [1]:
%run 506.2-Allowable-Area.ipynb

This section is considered: Passed

The allowable area of the building was determined in accordance with Section 506.2.4 as there is more than one occupancy in the multi-story building:

•Story: 01
◾Occupancy: A-2
◾Occupancy: A-3
◾Occupancy: B
◾Occupancy: R-1

•Story: 02
◾Occupancy: R-1

•Story: 03
◾Occupancy: R-1

•Story: 04
◾Occupancy: R-1

In [2]:
if num_unique_occupancies== 1: 
    if storey_num.lstrip('0') == 1: 
        result = "Not Applicable"
    else:
        result = "Applicable"
else: 
    result = "Not Applicable"
    
print(f"This section is considered: {result}"
      "\n\nThis section does not apply since:")

if storey_num.lstrip('0') == 1: 
    print("• One Story")

if num_unique_occupancies != 1: 
    print("• This building is mixed occupancy")

This section is considered: Not Applicable

This section does not apply since:
• This building is mixed occupancy